   <header>
        <nav>
            {% if request.user.is_authenticated %}
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li>Profile</li>
                <li>
                    <form method="post" action="{% url 'accounts:logout' %}">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </li>
            </ul>
            {% else %}
            <ul>
                <li><a href="{% url 'accounts:signup' %}">Signup</a></li>
                <li><a href="{% url 'accounts:login' %}">Login</a></li>
            {% endif %}
        </nav>
    </header>