{% extends 'base.html' %}

{% block content %}

<div>
    <h1>Student Detail</h1>
</div>

<!-- Supervisor -->
<div>
    <h2>Supervisor</h2>

    {% if student.supervisor %}
        <p>Assigned Supervisor: {{ student.supervisor }}</p>

        <a href="{% url 'departments:assign-supervisor' student.pk %}">
            Reassign Supervisor
        </a>
    {% else %}
        <p>Assigned Supervisor: None</p>

        <a href="{% url 'departments:assign-supervisor' student.pk %}">
            Assign Supervisor
        </a>
    {% endif %}
</div>


<!-- Profile -->
<div>
    <h2>Profile</h2>

    <h3>
        {{ student.user.first_name }}
        {{ student.user.last_name }}
    </h3>

    <p>MATRIC NO: {{ student.matric_no }}</p>
    <p>PHONE NUMBER: {{ student.phone_no }}</p>
    <p>EMAIL: {{ student.user.email }}</p>
    <p>DEPARTMENT: {{ student.department }}</p>
    <p>LEVEL: {{ student.level }}</p>

    <a href="{% url 'departments:student-update' student.pk %}">
        Update Student
    </a>
</div>


<!-- Placement -->
<div>
    <h2>Placement</h2>

    {% if student.placement %}

        <h3>Enterprise: {{ student.placement.enterprise.name }}</h3>

        <p>START DATE: {{ student.placement.start_date }}</p>
        <p>END DATE: {{ student.placement.end_date }}</p>
        <p>STATE: {{ student.placement.enterprise.state }}</p>
        <p>ADDRESS: {{ student.placement.enterprise.address }}</p>
        <p>SESSION: {{ student.placement.session }}</p>

        <div>
            <a href="{% url 'departments:placement-update' student.id %}">Update Placement</a>
        </div>

    {% else %}

        <p>No placement assigned.</p>

        <div>
            <a href="{% url 'departments:placement-create' student.id %}">Create Placement</a>
        </div>

    {% endif %}
</div>

<!-- Supervision -->
<div>
    <h2>Supervision</h2>

    {% if student.placement %}

        <div>
            <p>Opening Hours</p>
            <p>
                {{ student.placement.resumption_time }}
                -
                {{ student.placement.closing_time }}
            </p>
        </div>

        <div>
            <p>On-site Days</p>

            {% for day in student.placement.on_site_days %}
                <p>- {{ day }}</p>
            {% endfor %}
        </div>

        <div>
            {% if student.placement.visit_status == "NOT_VISITED" %}
                <span class="badge badge-warning">
                    VISIT STATUS: Pending Visit
                </span>

            {% elif student.placement.visit_status == "VISITED" %}
                <span class="badge badge-success">
                    VISIT STATUS: Completed
                </span>
            {% endif %}
        </div>

        {% if student.placement.planned_date %}
            <p>
                PLANNED DATE:
                {{ student.placement.planned_date }}
            </p>
        {% endif %}

        {% if student.placement.visit_date %}
            <p>
                ACTUAL VISIT DATE:
                {{ student.placement.visit_date }}
            </p>
        {% endif %}

    {% else %}

        <p>No placement, so no supervision information is available.</p>

    {% endif %}
</div>

{% endblock content %}

